<% include partials/head %>

<div class="ui main container">

</div>

<div class="ui very relaxed items container segment">

  <% blogs.forEach((blog) => { %>
  <% include partials/smallblog %>
  <% }) %>

</div>

<% include partials/pre-script-footer %>
<% include partials/scripts %>
<% include partials/post-script-footer %>
